<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WerewolfGameBBS 人狼ゲーム掲示板 アルファルファ(超α)版</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/wgb.css' %}" />
    <link rel="stylesheet" href="{% static 'jqueryui/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jqueryui/css/jquery-ui.structure.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jqueryui/css/jquery-ui.theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jqueryui/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</head>
<body class="bg-light" style="padding-top: 50px;" onload="{% block onload %}{% endblock %}">
    <!-- ナビバー -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-warning">
        <div class="collapse navbar-collapse" id="bavbarNav">
            <a class="navbar-brand" href="{% url 'WGB:top' %}">WGB 人狼掲示板 <small>アルファルファ(超α)版</small></a>
        </div>
        <span>ようこそ&nbsp;
        {% if user.is_authenticated %}
            <img src="{{ user.icon.url }}" style="width:30px; height:30px; border:solid 1px #ffffff; border-radius: 3px;">
            <a href="{% url 'WGB:show_user' %}">{{user.display_name}}</a>
        {% else %}
            ゲスト
        {% endif %}
        さん</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'WGB:logout' %}">ログアウト</a>
              </li>
<!--              <li class="nav-item">-->
<!--                  <a class="nav-item nav-link" href="{% url 'WGB:show_join_thread_list' %}">メッセージを送る</a>-->
<!--              </li>-->
              <li class="nav-item">
                  <a class="nav-item nav-link" href="{% url 'WGB:create_thread' %}">掲示板を作成</a>
              </li>
              <li class="nav-item">
                  <a class="nav-item nav-link" href="{% url 'WGB:show_user' %}">ユーザー情報</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-item nav-link" href="{% url 'WGB:show_login' %}">ログイン</a>
              </li>
              <li class="nav-item">
                  <a class="nav-item nav-link" href="{% url 'WGB:create_user' %}">ユーザー登録</a>
              </li>
              {% endif %}
            </ul>
        </div>
    </nav>

    <!-- メインコンテント -->
    <div class="container">
        {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'error' %}
        <div class="alert-danger alert-dismissible fade show" role="alert">
                {% elif message.tags == 'warning' %}
        <div class="alert-warning alert-dismissible fade show" role="alert">
                {% else %}
        <div class="alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
</body>
</html>