{% extends "base.html" %}
{% block content %}
{% load custom_tags %}
<div class="row">
    <div class="col-md-8">
        <div>
            <div class="card bg-primary text-light">
                <div class="card-body">
                    <div class="card-title">掲示板No.{{thread.thread_no}}.&nbsp;{{thread.thread_title}}</div>
                    <div class="card-subtitle" style="display:block; text-align:right;">作成者：{{thread.threadmember_set|find_create_user}}さん</div>
                </div>
            </div>
            {% for write in thread.threadwrite_set.all %}
            <div class="card">
                <div class="card-body">
                    <div class="card-title" style="font-size:80%;">
                        <span>{{write.number}}.&nbsp;{{write.member.member.display_name}}さん</span>
                        <span style="font-size:80%; position:relative; left:20px;">{{write.write_datetime}}</span>
                    </div>
                    {% if write.threadwriteattachment_set.all %}
                    <div class="card-text py-2" style="padding:10px;">
                        {% for attach in write.threadwriteattachment_set.all %}
                        <img src="{{ attach.attachment.url }}" />
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="card-text py-2" style="padding:10px;">{{write.sentence | safe | urlize | linebreaksbr}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            {% if thread.open_level == 1 and not thread.threadmember_set|find_member_self:user %}
            {# 閲覧のみ掲示板で、ログインしており、参加していない場合、参加フォーム  #}
            <div class="w-75 mx-auto">
                <form action="{% url 'WGB:join_member' %}" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <span>参加パスワード</span><input type="password" name="password"/>
                            <button type="submit" class="btn btn-info">参加する</button>
                            <input type="hidden" name="thread_no" value="{{thread.thread_no}}">
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            {# 書き込みフォーム  #}
            <div class="w-75 mx-auto">
                <form action="{% url 'WGB:write_thread' thread.thread_no %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">書き込みフォーム</div>
                            <div class="card-subtitle"><span class="text-danger">{{ form.non_field_errors }}</span></div>
                            <div class="py-2">{{form.sentence}}{{form.sentence.errors}}</div>
                            {# 添付ファイル #}
                            <div class="py-2">{{form.attachment1.label}}{{form.attachment1}}{{form.attachment1.errors}}</div>
                            <div class="py-2">{{form.attachment2.label}}{{form.attachment2}}{{form.attachment2.errors}}</div>
                            <div class="py-2">{{form.attachment3.label}}{{form.attachment3}}{{form.attachment3.errors}}</div>
                            <button type="submit" class="btn btn-success btn-lg btn-block">書き込む</button>
                            <input type="hidden" name="thread" value="{{thread.thread_no}}"/>
                            <input type="hidden" name="number" value="{{thread.threadwrite_set.latest.next_number}}"/>
                            <input type="hidden" name="member" value="{{thread.threadmember_set|find_member_self:user}}"/>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-body">
                <div>参加メンバー</div>
                {% for member in thread.threadmember_set.all %}
                <li>
                {# 自分が参加している場合だけリンク表示→メッセージ使用可能 #}
                {% if user.is_authenticated and thread.open_level == 1 and thread.threadmember_set|find_member_self:user and not member.member == user %}
                    <a href="{% url 'WGB:show_sender_list' thread.thread_no member.id %}">{{member.member.display_name}}さん</a>
                {% else %}
                    <span>{{member.member.display_name}}さん</span>
                {% endif %}
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}